
:root {
    --cor-principal: rgb(7, 7, 110), rgb(15, 15, 180);
    --cor-secundaria: rgb(111, 123, 227), rgb(148, 153, 219);
    --trasparente: transparent;
    --tamanho-se-ajusta-ao-tamanho-do-elemento-pressente: fit-content;
    --centro: center;
    --text-light: #FFFFFF;
    /*O root cria variaveis deixa mais facil entender certas variaveis e pode ser usado quando uma variavel se repete muito*/
}

html, body{
    width: 100%;
    height: 100%;
}


body{
    background: linear-gradient(var(--cor-principal));
}


header{
    background-color: var(--trasparente);
    color: var(--text-light);
    height: var(--tamanho-se-ajusta-ao-tamanho-do-elemento-pressente);
    opacity: 0.9;
    position: sticky; /*A posição do header permanece inalterada mesmo paos a rolagem da pagina, aqui a um bus pois ele so se estica ate a primeira seção do main*/
    top: 0; /* deixa o elemto no topo*/
    z-index: 1;
    padding: 1.5rem;
}



hr{
margin-top: 40px;
}


header nav ul{
    background-color:  var(--trasparente);
    margin: 0 auto;
    width: 100;
    display: flex;   /*O dispaly flex ativa propiedades fundamentais para centarlizar elementos como justify content*/
    align-items:  var(--centro);
    text-align:  var(--centro);
    justify-content:  var(--centro);
    padding: 0 2rem;
}

header nav ul li{
    height: 2rem;
    padding: 0 0.75rem;
    font-size:1.5rem;
    cursor: pointer;  /*adiciona uma mãozinha ao passar o mouse no link*/
    list-style: none;  /*retira os pontinhos da lista*/
    
}

a{
    text-decoration: none;
    color: inherit; 
    font-family: 'Jersey 25'; /*fonte retirada do google fontes*/
}

a:hover{
    color: rgb(0, 255, 255);
}

svg:hover{
    color: rgb(0, 255, 255);
}

.logo{
    height: 60px;
    width: 60px;
    border-radius: 100%;  /*deixa o lemento redondo ao invez de quadrado, usado em logos*/
    position: absolute;
    left: 2rem;
    top: 0.5rem;

}


.redes-sociais{
    position: absolute;
    right: 0;
    top: 1.5rem;
}


.bi-instagram{
    color: deeppink;
}

.bi-facebook{
    color: blue;
}

.bi-whatsapp{
    color: forestgreen;
}



#logo-text{
    position: absolute;  /*Sempre que uso absoluto ativa no css as propiedades, top, right, left e bootom*/
    left: 100px;
    width: 150px;
    border-radius: 0; /*O texto da logo estava saindo redondo por causao do borde radius 100% entao deixei 0 nesse elemento*/
}