
:root {
    --bg-primary: #000000;
    --text-light: #FFFFFF;
    --text-dark: #1D1D1F;
    --title-primary-color: #F5F5F7;
    --subtitle-color: #6E6E73;
    --action-color: #2997FF;
    --spirited-main-color: #DED2B9;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background: linear-gradient(rgb(7, 7, 110), rgb(15, 15, 180));
}


header{
    background-color: transparent;
    color: var(--text-light);
    height: fit-content;
    opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1.5rem;
}



hr{
margin-top: 40px;
}


header nav ul{
    background-color: transparent;
    margin: 0 auto;
    width: 100;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 2rem;
}

header nav ul li{
    height: 2rem;
    padding: 0 0.75rem;
    font-size:1.5rem;
    cursor: pointer;
    list-style: none;
    
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: rgb(0, 255, 255);
}

svg:hover{
    color: rgb(0, 255, 255);
}

.logo{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    position: absolute;
    left: 2rem;
    top: 0.5rem;

}


.redes-sociais{
    position: absolute;
    right: 0;
    top: 1.5rem;
    
}


.bi-instagram{
    color: deeppink;
}

.bi-facebook{
    color: blue;
}

.bi-whatsapp{
    color: forestgreen;
}


#about{
    height: 550px;
}

#services{
    height: 650px;
    background: linear-gradient(rgb(111, 123, 227), rgb(148, 153, 219));
    margin-top: -32px;
}


footer{
    background: linear-gradient( rgb(44, 89, 186), rgb(9, 61, 133));
    left: 0;
    text-align: center;
    padding: 10px;
    z-index: 1;
    height: 250px;
    width: 100%;
}