

:root {
    --cor-principal: rgb(7, 7, 110), rgb(15, 15, 180);
    --cor-secundaria: rgb(111, 123, 227), rgb(148, 153, 219);
    --trasparente: transparent;
    --tamanho-se-ajusta-ao-tamanho-do-elemento-pressente: fit-content;
    --centro: center;
    --text-light: #FFFFFF;
    /*O root cria variaveis deixa mais facil entender certas variaveis e pode ser usado quando uma variavel se repete muito*/
}



#about{
    height: 650px;
}



#services{
    height: 1800px;
    background: linear-gradient(var(--cor-secundaria));
    margin-top: -122px; /*Teve um pequeno bug na parte de services então tive que subir o lemento para cima*/
}



#main_services{
    color: rgb(83, 31, 3);;
    padding: 2.5rem;
    margin: 1rem;
    position: absolute;
    left: 50px;
    top: 700px;
    font-size: calc(0.600rem + .9vw);
    font-weight: 700;
}



.bi-lightbulb-fill{
    color: black;
    display: flex;
    align-items: var(--centro);
    justify-content: var(--centro);
    height: 200px;  
    width:200px; 
    margin-left: 650px;
    margin-top: -150px;
}


.bi-lightbulb-fill:hover{
    color: black;
}

#h2-services-fill{
    margin-top: -50px;
}


.h-main-luz{
    padding: 1rem;
    font-size: calc(0.600rem + .9vw);
}



.bi-piggy-bank-fill{
    color: rgb(160, 12, 91);
    height: 200px;
    width: 200px;
    margin-top: 70px;
    
}


.bi-piggy-bank-fill:hover{
    color: rgb(158, 115, 9);
}


#h1-main-porco{
   line-height: 370px;
}



.h-main-porco{
    color: rgb(54, 8, 96);
    padding: 3.5rem;
    margin: 0.3rem;
    font-size: calc(0.600rem + .9vw);
    margin-top: -250px;
    margin-left: 300px;
}


.div-main{
    margin-top: -350px;
}



.carousel-indicators {
    list-style: none;
    display: flex;
    justify-content: center;
}
.carousel-indicators li {
    background-color: #bbb;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.carousel-indicators .active {
    background-color: #000000;
}
