#main_services{
    color: rgb(83, 31, 3);;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 2.5rem;
    margin: 1rem;
    position: absolute;
    left: 50px;
    top: 700px;
    font-size: calc(0.600rem + .9vw);
    font-weight: 700;
}



.bi-lightbulb-fill{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin-left: 650px;
    margin-top: -150px;
}


.bi-lightbulb-fill:hover{
    color: black;
}

#h2-services-fill{
    margin-top: -50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.h-main{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
    font-size: calc(0.600rem + .9vw);
}



.bi-piggy-bank-fill{
    color: rgb(160, 12, 91);
    height: 200px;
    width: 200px;
    margin-top: 70px;
    
}


.bi-piggy-bank-fill:hover{
    color: rgb(158, 115, 9);
}


#h2-mainT{
   line-height: 370px;
}



.h-mainT{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 3.5rem;
    margin: 1rem;
    font-size: calc(0.600rem + .9vw);
    margin-top: -250px;
    margin-left: 300px;
}

.div-main{
    margin-top: -350px;
}


#logo-text{
    position: absolute;
    left: 100px;
    width: 150px;
    border-radius: 0;

}